/**
* @section Site Copyright
*/
.l-siteCopyright {position: absolute; left: 0; top: 0; width: 346px; height: 87px; color: #e0e0e0; font: 12px/13px $fontFamilyLato;}
.b-siteCopyright {}
.b-siteCopyright__link {color: inherit; text-decoration: none; 
  &:hover {text-decoration: underline;}
}