Options +FollowSymLinks
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} robots.txt$ [NC]
RewriteRule ^([^/]+) $1 [L]

RewriteCond %{REQUEST_URI} (.*)
RewriteRule ^(.*)$ http://newsite.com/ [L,R=301]