+b('article').post.h-entry.hentry(itemscope, itemtype="http://schema.org/NewsArticle")
  +e('header').header.entry-header
    +e('h1').title.entry-title.p-name(itemprop="name headline")
      +e.url.u-url.url(rel="bookmark", itemprop="url", href="/hello-world/", title="Permalink to Hello world!")
        |  Hello world!
    +e.published.entry-meta
      +e.publishedText Posted on
      +e.publishedLink.url.u-url(href="/hello-world/", title="10:46 am", rel="bookmark")
        +e('time').publishedTime.entry-date.updated.published.dt-updated.dt-published(datetime="2015-05-20T10:46:15+00:00", itemprop="dateModified") May 20, 2015
      +e('address').copyright
        +e('span').copyrightText by
        +e('span').author.author.p-author.vcard.hcard.h-card(itemprop="author", itemscope="", itemtype="http://schema.org/Person")
          +e('img').authorPhoto.u-photo.photo(src="http://1.gravatar.com/avatar/4fe8599d9ec5dd15c95211db12448e6e")
          +e.authorLink.url.uid.u-url.u-uid.fn.p-name(href="/author/someone", title="View all posts by someone", rel="author", itemprop="url")
            +e.authorName(itemprop="name") someone
  +e.summary.b-text.entry-summary.p-summary(itemprop="description")
    | In which I extoll the virtues of using microformats.
  +e.content.b-text.entry-content.e-content(itemprop="articleBody")
    p.
      Welcome to WordPress. This is your first post. Edit or delete it, then start blogging!
  +e('footer').meta
    +e('span').metaText Posted
    +e('span').metaLinks.-type_category
      +e('span').metaLinksText in
        +e.categoryLink(href="/category/uncategorized/", rel="category tag") Uncategorized
        +e.commentsLink(href="/hello-world/#comments") 1 Comment
        +e.editLink(href="/wp-admin/post.php?post=1&amp;action=edit") Edit
