/**
* @section News
*/
$color6: #595959;
/**
* @subsection Main Schedule Form Btn Group
*/
.b-scheduleFormBtnGroup{ position: relative; margin:0; padding:0; list-style:none; display: inline-block;  vertical-align: middle;
  &.-type_1{}
}
.b-scheduleFormBtnGroup__btn.-type_1{position: relative;  float: left; color: $color6; text-decoration:none;
    border-radius: 3px;
    cursor: pointer;
    font: 12px/19px $fontArial;
    font-weight: normal;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #a4a4a4;
    background-clip: padding-box;
    background-color: #F4F4F4;
    box-shadow: inset 0 1px 2px #fff;
    background-image: linear-gradient(to top, #e9e9e9 0%, #e9e9e9 1.51%, #fff 99.49%, #fff 100%); 
   

  &.-num_1 > a{padding-left:33px; background: url(../img/b-scheduleFormBtnGroup__link-bg1.png) 8px 3px no-repeat;}
  &.-num_2 > a{padding-left: 31px; padding-right: 22px; background: url(../img/b-scheduleFormBtnGroup__link-bg2.png) 10px 7px no-repeat;}
  &:hover,
  &:focus,
  &:active,
  &.-state_current{ z-index: 2; border: 1px solid #aeaeae; box-shadow: inset 0 3px 6px rgba(0,0,0,.3); background-color: #ECECEC; background-image: linear-gradient(to top, #fff 0%, #d6d6d6 100%); }
  &:focus{outline: none;}
  &:first-child { margin-left: 0;}
}

.lt-ie10 .b-scheduleFormBtnGroup__btn.-type_1{background: url(../img/b-scheduleFormBtnGroup__btn-type_1-bg.png) 0 bottom repeat-x;}
.lt-ie10 .b-scheduleFormBtnGroup__btn.-type_1.-state_current, 
.lt-ie10 .b-scheduleFormBtnGroup__btn.-type_1:active,
.lt-ie10 .b-scheduleFormBtnGroup__btn.-type_1:focus, 
.b-scheduleFormBtnGroup__btn.-type_1:hover{background: url(../img/b-scheduleFormBtnGroup__btn-bg.png) 0 0 no-repeat;}
.b-scheduleFormBtnGroup__btn.-type_2{position: relative;  height:26px; float: left;  background-color: #FFFFFF; border:1px solid #a1a1a1; color: $color6; text-decoration:none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap; box-shadow: inset 0 1px 1px rgba(44,43,43,.2);
  &.-num_3{width:77px;}
  &.-num_4{width:110px;}
  &:hover,
  &:focus,
  &:active,
  &.active{ z-index: 2; }
  &:focus{outline: none;}
  &:first-child { margin-left: 0;}
}
.b-scheduleFormBtnGroup__btn + .b-scheduleFormBtnGroup__btn{margin-left: -1px;}
.b-scheduleFormBtnGroup > .b-scheduleFormBtnGroup__btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.b-scheduleFormBtnGroup > .b-scheduleFormBtnGroup__btn:first-child{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.b-scheduleFormBtnGroup > .b-scheduleFormBtnGroup__btn:last-child{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}
.b-scheduleFormBtnGroup__link{display:block; padding: 4px 18px; color: $color6; text-decoration:none; }

