body{background: #eee;}
.b-contacts__map { position:relative; margin: 0 auto; overflow: hidden; height: 520px; width:900px; }
.b-contactMap__map {position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 4;}