/**
* @section Form
*/

.l-form {
  margin-top: 150px;
}
.b-form {
  position: relative;
  margin: 0 auto;
  padding: 40px 50px 50px;
  width: 327px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  box-shadow: 0 1px 0 #dbdbdb;
  text-align: center;
  font: 13px 'Open Sans', sans-serif;

  &__controls {
    margin-top: 20px;
    text-align: left;

    &:first-child {
      margin-top: 0;
    }
  }
  &__field {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0 15px;
    width: 100%;
    height: 45px;
    border: 1px solid #dedede;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;

    &:focus {
      outline: none;
      border-color: #6aaddb;
      box-shadow: 0 0 20px #6aaddb;
      box-shadow: 0 0 20px rgba(#6aaddb, .3);
    }
  }
  &__link {
    display: inline-block;
    margin-top: 20px;
    color: #3c90be;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__button {
    display: block;
    width: 100%;
    height: 47px;
    margin: 0;
    border: none;
    border-radius: 5px;
    background-color: #3c90be;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font: 600 16px/47px 'Open Sans', sans-serif;
    cursor: pointer;
    transition: background-color .2s;

    &:hover {
      background-color: #327fa8;
    }

    &.-color_light {
      background-color: #ebf4f8;
      color: #1a171b;

      &:hover {
        background-color: #b6d6e5;
      }
    }
  }
  &__footer {
    margin-top: 24px;
    padding-top: 25px;
    border-top: 1px solid #ededed;
  }
}