%i-marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 50s linear infinite;

  &:hover {
    animation-play-state: paused
  }
}

@keyframes marquee {
    0%   { text-indent: 0; }
    100% { text-indent: -100%; }
}

/*
Use:
.b-block {
  @extend %i-marquee;
}
*/