%flags {
  &:before {position: absolute; top: 7px; left: 7px; display: block; width: 16px; height: 11px; background: url('../img/b-langFlags__link-bg.png') no-repeat; content: '';}
  &.-flag_ad:before {background-position: -16px 0}
  &.-flag_ae:before {background-position: -32px 0}
  &.-flag_af:before {background-position: -48px 0}
  &.-flag_ag:before {background-position: -64px 0}
  &.-flag_ai:before {background-position: -80px 0}
  &.-flag_al:before {background-position: -96px 0}
  &.-flag_am:before {background-position: -112px 0}
  &.-flag_an:before {background-position: -128px 0}
  &.-flag_ao:before {background-position: -144px 0}
  &.-flag_ar:before {background-position: -160px 0}
  &.-flag_as:before {background-position: -176px 0}
  &.-flag_at:before {background-position: -192px 0}
  &.-flag_au:before {background-position: -208px 0}
  &.-flag_aw:before {background-position: -224px 0}
  &.-flag_az:before {background-position: -240px 0}
  &.-flag_ba:before {background-position: 0 -11px}
  &.-flag_bb:before {background-position: -16px -11px}
  &.-flag_bd:before {background-position: -32px -11px}
  &.-flag_be:before {background-position: -48px -11px}
  &.-flag_bf:before {background-position: -64px -11px}
  &.-flag_bg:before {background-position: -80px -11px}
  &.-flag_bh:before {background-position: -96px -11px}
  &.-flag_bi:before {background-position: -112px -11px}
  &.-flag_bj:before {background-position: -128px -11px}
  &.-flag_bm:before {background-position: -144px -11px}
  &.-flag_bn:before {background-position: -160px -11px}
  &.-flag_bo:before {background-position: -176px -11px}
  &.-flag_br:before {background-position: -192px -11px}
  &.-flag_bs:before {background-position: -208px -11px}
  &.-flag_bt:before {background-position: -224px -11px}
  &.-flag_bv:before {background-position: -240px -11px}
  &.-flag_bw:before {background-position: 0 -22px}
  &.-flag_by:before {background-position: -16px -22px}
  &.-flag_bz:before {background-position: -32px -22px}
  &.-flag_ca:before {background-position: -48px -22px}
  &.-flag_catalonia:before {background-position: -64px -22px}
  &.-flag_cd:before {background-position: -80px -22px}
  &.-flag_cf:before {background-position: -96px -22px}
  &.-flag_cg:before {background-position: -112px -22px}
  &.-flag_ch:before {background-position: -128px -22px}
  &.-flag_ci:before {background-position: -144px -22px}
  &.-flag_ck:before {background-position: -160px -22px}
  &.-flag_cl:before {background-position: -176px -22px}
  &.-flag_cm:before {background-position: -192px -22px}
  &.-flag_cn:before {background-position: -208px -22px}
  &.-flag_co:before {background-position: -224px -22px}
  &.-flag_cr:before {background-position: -240px -22px}
  &.-flag_cu:before {background-position: 0 -33px}
  &.-flag_cv:before {background-position: -16px -33px}
  &.-flag_cw:before {background-position: -32px -33px}
  &.-flag_cy:before {background-position: -48px -33px}
  &.-flag_cz:before {background-position: -64px -33px}
  &.-flag_de:before {background-position: -80px -33px}
  &.-flag_dj:before {background-position: -96px -33px}
  &.-flag_dk:before {background-position: -112px -33px}
  &.-flag_dm:before {background-position: -128px -33px}
  &.-flag_do:before {background-position: -144px -33px}
  &.-flag_dz:before {background-position: -160px -33px}
  &.-flag_ec:before {background-position: -176px -33px}
  &.-flag_ee:before {background-position: -192px -33px}
  &.-flag_eg:before {background-position: -208px -33px}
  &.-flag_eh:before {background-position: -224px -33px}
  &.-flag_england:before {background-position: -240px -33px}
  &.-flag_er:before {background-position: 0 -44px}
  &.-flag_es:before {background-position: -16px -44px}
  &.-flag_et:before {background-position: -32px -44px}
  &.-flag_eu:before {background-position: -48px -44px}
  &.-flag_fi:before {background-position: -64px -44px}
  &.-flag_fj:before {background-position: -80px -44px}
  &.-flag_fk:before {background-position: -96px -44px}
  &.-flag_fm:before {background-position: -112px -44px}
  &.-flag_fo:before {background-position: -128px -44px}
  &.-flag_fr:before {background-position: -144px -44px}
  &.-flag_ga:before {background-position: -160px -44px}
  &.-flag_gb:before {background-position: -176px -44px}
  &.-flag_gd:before {background-position: -192px -44px}
  &.-flag_ge:before {background-position: -208px -44px}
  &.-flag_gf:before {background-position: -224px -44px}
  &.-flag_gg:before {background-position: -240px -44px}
  &.-flag_gh:before {background-position: 0 -55px}
  &.-flag_gi:before {background-position: -16px -55px}
  &.-flag_gl:before {background-position: -32px -55px}
  &.-flag_gm:before {background-position: -48px -55px}
  &.-flag_gn:before {background-position: -64px -55px}
  &.-flag_gp:before {background-position: -80px -55px}
  &.-flag_gq:before {background-position: -96px -55px}
  &.-flag_gr:before {background-position: -112px -55px}
  &.-flag_gs:before {background-position: -128px -55px}
  &.-flag_gt:before {background-position: -144px -55px}
  &.-flag_gu:before {background-position: -160px -55px}
  &.-flag_gw:before {background-position: -176px -55px}
  &.-flag_gy:before {background-position: -192px -55px}
  &.-flag_hk:before {background-position: -208px -55px}
  &.-flag_hm:before {background-position: -224px -55px}
  &.-flag_hn:before {background-position: -240px -55px}
  &.-flag_hr:before {background-position: 0 -66px}
  &.-flag_ht:before {background-position: -16px -66px}
  &.-flag_hu:before {background-position: -32px -66px}
  &.-flag_ic:before {background-position: -48px -66px}
  &.-flag_id:before {background-position: -64px -66px}
  &.-flag_ie:before {background-position: -80px -66px}
  &.-flag_il:before {background-position: -96px -66px}
  &.-flag_im:before {background-position: -112px -66px}
  &.-flag_in:before {background-position: -128px -66px}
  &.-flag_io:before {background-position: -144px -66px}
  &.-flag_iq:before {background-position: -160px -66px}
  &.-flag_ir:before {background-position: -176px -66px}
  &.-flag_is:before {background-position: -192px -66px}
  &.-flag_it:before {background-position: -208px -66px}
  &.-flag_je:before {background-position: -224px -66px}
  &.-flag_jm:before {background-position: -240px -66px}
  &.-flag_jo:before {background-position: 0 -77px}
  &.-flag_jp:before {background-position: -16px -77px}
  &.-flag_ke:before {background-position: -32px -77px}
  &.-flag_kg:before {background-position: -48px -77px}
  &.-flag_kh:before {background-position: -64px -77px}
  &.-flag_ki:before {background-position: -80px -77px}
  &.-flag_km:before {background-position: -96px -77px}
  &.-flag_kn:before {background-position: -112px -77px}
  &.-flag_kp:before {background-position: -128px -77px}
  &.-flag_kr:before {background-position: -144px -77px}
  &.-flag_kurdistan:before {background-position: -160px -77px}
  &.-flag_kw:before {background-position: -176px -77px}
  &.-flag_ky:before {background-position: -192px -77px}
  &.-flag_kz:before {background-position: -208px -77px}
  &.-flag_la:before {background-position: -224px -77px}
  &.-flag_lb:before {background-position: -240px -77px}
  &.-flag_lc:before {background-position: 0 -88px}
  &.-flag_li:before {background-position: -16px -88px}
  &.-flag_lk:before {background-position: -32px -88px}
  &.-flag_lr:before {background-position: -48px -88px}
  &.-flag_ls:before {background-position: -64px -88px}
  &.-flag_lt:before {background-position: -80px -88px}
  &.-flag_lu:before {background-position: -96px -88px}
  &.-flag_lv:before {background-position: -112px -88px}
  &.-flag_ly:before {background-position: -128px -88px}
  &.-flag_ma:before {background-position: -144px -88px}
  &.-flag_mc:before {background-position: -160px -88px}
  &.-flag_md:before {background-position: -176px -88px}
  &.-flag_me:before {background-position: -192px -88px}
  &.-flag_mg:before {background-position: -208px -88px}
  &.-flag_mh:before {background-position: -224px -88px}
  &.-flag_mk:before {background-position: -240px -88px}
  &.-flag_ml:before {background-position: 0 -99px}
  &.-flag_mm:before {background-position: -16px -99px}
  &.-flag_mn:before {background-position: -32px -99px}
  &.-flag_mo:before {background-position: -48px -99px}
  &.-flag_mp:before {background-position: -64px -99px}
  &.-flag_mq:before {background-position: -80px -99px}
  &.-flag_mr:before {background-position: -96px -99px}
  &.-flag_ms:before {background-position: -112px -99px}
  &.-flag_mt:before {background-position: -128px -99px}
  &.-flag_mu:before {background-position: -144px -99px}
  &.-flag_mv:before {background-position: -160px -99px}
  &.-flag_mw:before {background-position: -176px -99px}
  &.-flag_mx:before {background-position: -192px -99px}
  &.-flag_my:before {background-position: -208px -99px}
  &.-flag_mz:before {background-position: -224px -99px}
  &.-flag_na:before {background-position: -240px -99px}
  &.-flag_nc:before {background-position: 0 -110px}
  &.-flag_ne:before {background-position: -16px -110px}
  &.-flag_nf:before {background-position: -32px -110px}
  &.-flag_ng:before {background-position: -48px -110px}
  &.-flag_ni:before {background-position: -64px -110px}
  &.-flag_nl:before {background-position: -80px -110px}
  &.-flag_no:before {background-position: -96px -110px}
  &.-flag_np:before {background-position: -112px -110px}
  &.-flag_nr:before {background-position: -128px -110px}
  &.-flag_nu:before {background-position: -144px -110px}
  &.-flag_nz:before {background-position: -160px -110px}
  &.-flag_om:before {background-position: -176px -110px}
  &.-flag_pa:before {background-position: -192px -110px}
  &.-flag_pe:before {background-position: -208px -110px}
  &.-flag_pf:before {background-position: -224px -110px}
  &.-flag_pg:before {background-position: -240px -110px}
  &.-flag_ph:before {background-position: 0 -121px}
  &.-flag_pk:before {background-position: -16px -121px}
  &.-flag_pl:before {background-position: -32px -121px}
  &.-flag_pm:before {background-position: -48px -121px}
  &.-flag_pn:before {background-position: -64px -121px}
  &.-flag_pr:before {background-position: -80px -121px}
  &.-flag_ps:before {background-position: -96px -121px}
  &.-flag_pt:before {background-position: -112px -121px}
  &.-flag_pw:before {background-position: -128px -121px}
  &.-flag_py:before {background-position: -144px -121px}
  &.-flag_qa:before {background-position: -160px -121px}
  &.-flag_re:before {background-position: -176px -121px}
  &.-flag_ro:before {background-position: -192px -121px}
  &.-flag_rs:before {background-position: -208px -121px}
  &.-flag_ru:before {background-position: -224px -121px}
  &.-flag_rw:before {background-position: -240px -121px}
  &.-flag_sa:before {background-position: 0 -132px}
  &.-flag_sb:before {background-position: -16px -132px}
  &.-flag_sc:before {background-position: -32px -132px}
  &.-flag_scotland:before {background-position: -48px -132px}
  &.-flag_sd:before {background-position: -64px -132px}
  &.-flag_se:before {background-position: -80px -132px}
  &.-flag_sg:before {background-position: -96px -132px}
  &.-flag_sh:before {background-position: -112px -132px}
  &.-flag_si:before {background-position: -128px -132px}
  &.-flag_sk:before {background-position: -144px -132px}
  &.-flag_sl:before {background-position: -160px -132px}
  &.-flag_sm:before {background-position: -176px -132px}
  &.-flag_sn:before {background-position: -192px -132px}
  &.-flag_so:before {background-position: -208px -132px}
  &.-flag_somaliland:before {background-position: -224px -132px}
  &.-flag_sr:before {background-position: -240px -132px}
  &.-flag_ss:before {background-position: 0 -143px}
  &.-flag_st:before {background-position: -16px -143px}
  &.-flag_sv:before {background-position: -32px -143px}
  &.-flag_sx:before {background-position: -48px -143px}
  &.-flag_sy:before {background-position: -64px -143px}
  &.-flag_sz:before {background-position: -80px -143px}
  &.-flag_tc:before {background-position: -96px -143px}
  &.-flag_td:before {background-position: -112px -143px}
  &.-flag_tf:before {background-position: -128px -143px}
  &.-flag_tg:before {background-position: -144px -143px}
  &.-flag_th:before {background-position: -160px -143px}
  &.-flag_tj:before {background-position: -176px -143px}
  &.-flag_tk:before {background-position: -192px -143px}
  &.-flag_tl:before {background-position: -208px -143px}
  &.-flag_tm:before {background-position: -224px -143px}
  &.-flag_tn:before {background-position: -240px -143px}
  &.-flag_to:before {background-position: 0 -154px}
  &.-flag_tr:before {background-position: -16px -154px}
  &.-flag_tt:before {background-position: -32px -154px}
  &.-flag_tv:before {background-position: -48px -154px}
  &.-flag_tw:before {background-position: -64px -154px}
  &.-flag_tz:before {background-position: -80px -154px}
  &.-flag_ua:before {background-position: -96px -154px}
  &.-flag_ug:before {background-position: -112px -154px}
  &.-flag_um:before {background-position: -128px -154px}
  &.-flag_us:before {background-position: -144px -154px}
  &.-flag_uy:before {background-position: -160px -154px}
  &.-flag_uz:before {background-position: -176px -154px}
  &.-flag_va:before {background-position: -192px -154px}
  &.-flag_vc:before {background-position: -208px -154px}
  &.-flag_ve:before {background-position: -224px -154px}
  &.-flag_vg:before {background-position: -240px -154px}
  &.-flag_vi:before {background-position: 0 -165px}
  &.-flag_vn:before {background-position: -16px -165px}
  &.-flag_vu:before {background-position: -32px -165px}
  &.-flag_wales:before {background-position: -48px -165px}
  &.-flag_wf:before {background-position: -64px -165px}
  &.-flag_ws:before {background-position: -80px -165px}
  &.-flag_ye:before {background-position: -96px -165px}
  &.-flag_yt:before {background-position: -112px -165px}
  &.-flag_za:before {background-position: -128px -165px}
  &.-flag_zanzibar:before {background-position: -144px -165px}
  &.-flag_zm:before {background-position: -160px -165px}
  &.-flag_zw:before {background-position: -176px -165px}
}