
/**
* @section Booking
*/
.controls{ position: relative; margin:3px 0 0; width:166px;
  &:first-child{}
}
.b-controlLabel{display:block; text-align:left; color:#4a4a4a; font: bold 12px/19px Arial, sans-serif; text-shadow: 0 0 1px  #ffffff;}

.input-extended span { position:absolute; top:0; right:0; background: none repeat scroll 0 0 #FFFFFF; cursor: pointer; display: block;height: 26px; width: 20px; z-index: 100;}
.input-extended.-style_focused{background: #e9f1f9; border: 1px solid #9dc3e1; box-shadow: inset 0 1px 1px rgba(35,74,122,.26);}
.input-extended .close {background: url("http://www.aeroflot.ru/cms/sites/all/modules/booking/images/icon-close.gif") no-repeat scroll 5px 4px;}
.b-depCityAutoComplete .input-extended .expand,
.b-retCityAutoComplete .input-extended .expand { background: url("../img/b-depCityAutoComplete_-icon.png") no-repeat  0 0;}
.b-depCityAutoComplete .input-extended .expand{ background-position: -4px 9px;}
.b-depCityAutoComplete .input-extended.input-extended.-style_focused .expand {background-position: -4px -35px;}
.b-retCityAutoComplete .input-extended .expand {background-position: -3px -13px;}
.b-retCityAutoComplete .input-extended.input-extended.-style_focused .expand {background-position: -4px -58px;}

.yui-skin-sam .yui-ac-input, .input-extended input { position: absolute; top: 1px; left: 6px; width: 140px; height:22px; border:none; margin:0; padding:0; color:#363636;
    font:12px/19px Arial, sans-serif; outline: none; background:none; }
.input-extended.-style_focused input{ background: none;}
.input-extended {position:relative; display:block; width:166px; height:24px; border-radius: 3px;  background-color: #FFFFFF; border:1px solid $color1;  box-shadow: inset 0 1px 1px rgba(44,43,43,.2); transition: border linear 0.2s, box-shadow linear 0.2s; overflow: hidden;  box-sizing: border-box;}

.s-dialog {
    display: none;
    z-index: 110 !important;
}
.yui-overlay, .yui-panel-container {
    display:none;
    position: absolute;
    visibility: hidden;
    z-index: 2;
}
.b-depCityAutoComplete{position:relative;}
.b-retCityAutoComplete{position:relative;}
.b-retCityAutoComplete .ac-dialog{display:none;}
.b-depCityAutoComplete .ac-dialog{display:none;}
.btn-toggle{
position:absolute; top:16px; right:11px;
    background: url("http://www.aeroflot.ru/cms/sites/all/modules/booking/images/icon-toggle.gif") no-repeat scroll;
    display: block;
    height: 20px;
    margin: 14px 0 0;
    padding: 0;
    text-decoration: none;
    width: 20px;
      -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
}
.ac-dialog .yui-ac-content {
    height: 150px;
    overflow-y: auto;
}
.popup_wrapper {
    height: 128px;
    border-radius: 5px;
    width:400px;

}
.popup_wrapper:before {
  display: block;
  position: absolute;
  top: -10px;
  left: 17px;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 10px solid #e0e0e0;
  content:'';
}
.popup_wrapper:after {
  display: block;
  position: absolute;
  top: -7px;
  left: 20px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 7px solid #fff;
  content:'';
}
.popup_infoblock {
    background:  #FFFFFF;
    border: medium none;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(71,73,74,.8);
}
.popup_infoblock_2 {
    background:  #FFFFFF;
    border: medium none;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    top: 0;
    width: 400px;
    height: 127px;
    box-shadow: 0 0 5px rgba(71,73,74,.8);
}
.popup_infoblock ul, .popup_infoblock_2 ul {
    background: #FFFFFF;
    color: #000000;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 11px;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.popup_infoblock ul li, .popup_infoblock_2 ul li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #bccbdb;
}
.popup_infoblock ul li a, .popup_infoblock_2 ul li a {
    background: #FFFFFF;
    color: #000000;
    display: block;
    line-height: 1.3;
    font-size: 13px;
    padding: 6px 10px 8px;
    text-decoration: none;
}
.b-additionalInfoCity{}
.b-additionalInfoCity__index{display:inline-block; width: 30px;}
.popup_infoblock ul li a:hover, .popup_infoblock_2 ul li a:hover, .popup_infoblock ul li.yui-ac-highlight a, .popup_infoblock_2 ul li.yui-ac-highlight a {
    background: #e9f2f9;
}
.popup_infoblock ul li .match, .popup_infoblock_2 ul li .match {
    font-weight: bold;
}
.info_list li > a{position:relative; z-index:100;
  &:after{position:absolute; z-index:10; left:0; top:0; content:''; display:block; width:100%; height:100%;}
}
.popup_closer {
   /*  background: url("http://www.aeroflot.ru/cms/sites/all/modules/booking/images/bg_popup_closer.gif") no-repeat  0 0 #508DD1;
    border-left: 1px solid #84ADD6;
    cursor: pointer;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px; */
    display:none;
}
.popup_closer_btn {
    background: url("http://www.aeroflot.ru/cms/sites/all/modules/booking/images/popup_closer_btn.gif") no-repeat 0 0 ;
    display: block;
    height: 10px;
    left: 3px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 3px;
    width: 10px;
}
.top_btn {
  /*   background: none repeat scroll 0 0 #508DD1;
    border-bottom: 1px solid #84ADD6;
    height: 20px;
    left: 0;
    padding: 2px 0 1px 3px;
    position: absolute;
    top: 0;
    width: 293px; */
    display:none;
    visibility:hidden;
    height:0;
}


.top_btn a {
    display: block;
    float: left;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 112px;
}
.top_btn #towns {
    background: url("http://www.aeroflot.ru/cms/sites/all/modules/booking/images/towns_btn.gif") no-repeat scroll left top;
    cursor: pointer;
}
.top_btn #countries {
    background: url("http://www.aeroflot.ru/cms/sites/all/modules/booking/images/countries_btn.gif") no-repeat scroll left top;
    cursor: pointer;
}
.b-depCityAcBox, .b-retCityAcBox {
    z-index: 120 !important;
    display:none;
}
.langDropdown {
    border: medium none;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 150px;
    top: 70px;
}
.langDropdown select {
    border-color: #ADACB2 #E2E8EF #E2E8EF;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: normal;
    height: 21px;
    margin: 0;
    padding: 0;
    width: 80px;
}
