/**
* @subsection btn
*/

.b-btn{display:inline-block;  padding: 12px 39px 12px; background: #6A2E92; border: 1px solid #6A2E92; border-radius: 5px; color:#fff; text-transform: uppercase; cursor:pointer; text-decoration:none;}
.b-btn:hover{background: #fff; border: 1px solid #6A2E92; color:#6A2E92;}