/**
* @subsection btn
*/

.b-btn{position:relative; display:inline-block;  padding: 12px 39px 12px; background-color: #6A2E92; border: 1px solid #6A2E92; border-radius: 5px; color:#fff; text-transform: uppercase; cursor:pointer; text-decoration:none;
  &:hover{background: #fff; border: 1px solid #6A2E92; color:#6A2E92;}
  &.-ico_play:before{position:absolute; display:block; top: 15px; left: 20px;width:9px; height:12px; background-image: url(../img/ico__play-bg.png); content:'';}
}
