.l-slider {position: relative; width: 100%;}
.b-slider {position: relative;}
.b-sliderItem {display: inline-block; vertical-align: top;}
.b-sliderLink {display: block; height: 100%;}
.b-sliderImg {}
.b-sliderPager {text-align: center;}